* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:first-child {
  background-color: #f8f9fa;
}
section:nth-child(2) {
  background-color: #e9ecef;
}

section:last-of-type {
  background-color: #ced4da;
}
.progress {
  position: relative;
  width: 500px;
  height: 30px;
  background-color: white;
  margin: 10px;
}
.progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(to right, #f7ff00, #db36a4);
  transition: width 0.3s linear;
}
