*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: unset;
}
.prelouder-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  color: #ffffff;
  z-index: 10000;
  font-size: 2rem;
}

.prelouder-wrapper .prelouder {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #1eb3ef);
  animation: prelouder 2s linear infinite;
}

.prelouder-wrapper .prelouder::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  background-color: #000;
  border-radius: 50%;
  z-index: 999;
}
.prelouder-wrapper .prelouder::after {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  bottom: 0rem;
  background: linear-gradient(45deg, transparent, transparent 40%, #1eb3ef);
  border-radius: 50%;
  z-index: 1;
  filter: blur(2rem);
}
@keyframes prelouder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
